:root {
  --dark-color: #2d4263;
  --white-color: #f7f7f7;
  --link-color: rgb(63, 46, 158);
  --text-font-size: 1.4rem;
  --main--heading-size: 3rem;
  --sub--heading-size: 2rem;
  --small--heading-size: 1.5rem;
}

#education_id {
  width: 100vw;
  height: auto;
  padding: 8rem 0;
  background-color: var(--white-color);
}
.education_heading {
  font-size: var(--main--heading-size);
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 1rem;
}
.education_card {
  width: 40rem;
  height: 20rem;
  margin: auto;
  perspective: 1080px;
  cursor: pointer;
}
.education_inner_card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 1rem;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.education_card_front,
.education_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.education_card_front {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.education_card_front > h1 {
  font-size: 8rem;
  color: var(--dark-color);
}
.education_card_back {
  background-color: transparent;
  border: 0.1rem solid var(--dark-color);
  transform: rotateX(180deg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
.education_card_back > table > tbody > tr > th,
.education_card_back > table > tbody > tr > td {
  text-align: left !important;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  color: var(--dark-color);
}
.education_card_back > table > tbody > tr > td {
  color: var(--dark-color);
  vertical-align: top;
}
.education_card:hover .education_inner_card {
  transform: rotateX(-180deg);
}
.item {
  width: 30rem;
  height: 30rem;
  background-color: #ff4444;
}

/* Responsive Design */
/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .education_card_front > h1 {
    font-size: 6rem;
  }
  .education_card {
    width: 28rem;
    height: 15rem;
  }

  .education_card_back > table > tbody > tr > th,
  .education_card_back > table > tbody > tr > td {
    font-size: 1.1rem;
  }
}
/* iPads, Tablets. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .education_card_front > h1 {
    font-size: 7rem;
  }
  .education_card {
    width: 35rem;
    height: 15rem;
  }

  .education_card_back > table > tbody > tr > th,
  .education_card_back > table > tbody > tr > td {
    font-size: 1.2rem;
  }
}
/* Small screens, laptops. */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
/* Desktops, large screens. */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
/* Extra large screens, TV. */
@media only screen and (min-width: 1201px) {
}
