:root {
  --dark-color: #2D4263;
  --white-color: #f7f7f7;
  --link-color: rgb(63, 46, 158);
  --text-font-size: 1.4rem;
  --main--heading-size: 3rem;
  --sub--heading-size: 2rem;
  --small--heading-size: 1.5rem;
}

.maincontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  background-color: var(--link-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: auto;
  padding: 2rem;
}
.resetpasswordGroup {
  padding: 1rem 0.5rem;
}
.resetpasswordHeading {
  font-size: var(--sub--heading-size);
  font-weight: 400;
  color: var(--white-color);
}
.resetpasswordControl {
  font-size: var(--text-font-size);
  width: 30rem;
  font-weight: 400;
  color: var(--dark-color);
  padding: 0.5rem 0.5rem;
}

.resetpasswordButton {
  padding: 0.5rem 1rem;
  font-size: var(--text-font-size);
  font-weight: 400;
  background-color: transparent;
  color: var(--white-color);
  border: 0.1rem solid var(--white-color);
  outline: none;
  margin-right: 1rem;
  transition: 0.5s all;
}
.resetpasswordButton:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
  border: 0.1rem solid var(--dark-color);
}

/* Responsive Design */
/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .resetpasswordHeading {
    font-size: 1.5rem;
  }
  .maincontainer form .formContainer {
    width: 30rem;
    padding: 1rem;
  }
  .resetpasswordControl {
    font-size: 1.2rem;
    width: 100%;
    padding: 0.3rem;
  }
  .resetpasswordButton {
    padding: 0.3rem 0.5rem;
    font-size: 1.2rem;
  }
}

/* iPads, Tablets. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .resetpasswordHeading {
    font-size: 1.5rem;
  }
  .maincontainer form .formContainer {
    width: 35rem;
    padding: 1rem;
  }
  .resetpasswordControl {
    font-size: 1.2rem;
    width: 100%;
    padding: 0.3rem;
  }
  .resetpasswordButton {
    padding: 0.3rem 0.5rem;
    font-size: 1.2rem;
  }
}

/* Small screens, laptops. */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
/* Desktops, large screens. */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
/* Extra large screens, TV. */
@media only screen and (min-width: 1201px) {
}
